/* ########## RESETS ########## */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* ########## SHARED STYLES ########## */
p, 
a {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
}
button {
  font-size: 2rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 9999px;
  border: none;
  width: fit-content;
}
.flex-section {
  display: flex;
}
img {
  height: 40rem;
  width: auto;
}



/* ########## HEADINGS ########## */
h1,
h2,
h3{
  line-height: 4.5rem;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 4rem;
}


/* ########## NAV STYLES ########## */
nav {
  background-color: #f55;
  color: white;
  align-items: center;
  padding: 1.2rem 5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo-img {
  margin: 0 auto;
  font-size: 4rem;
}
.right-nav {
  margin-left: auto;
}
.nav-links {
  gap: 2rem;
}
.nav-links a {
  color: white;
}
.nav-links a:hover {
  color: lightgreen;
}
.nav-links a:active {
  color: white;
}

/* ########## HEADER STYLES ########## */
header {
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
  background: url(../images/winterLodge.jpg) no-repeat center center;
  padding: 30rem 8rem ;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 5rem;
  right: 5rem;
  color: black;
  width: 50rem;
}
.header-container button {
  background-color: darkblue;
  color: gold;
}
.header-container button:hover {
  background-color: blue;
}
.header-container button:active {
  background-color: darkblue;
}

/* ########## ROOMS AREA STYLES ########## */

.rooms-area {
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;
  background-color: blue;
  padding: 7rem;
  color: white;
}



.rooms-area button {
  background-color: darkgreen;
  color: white; 
}
.rooms-area button:hover {
  background-color: silver;
  color: darkgreen;
}
.rooms-area button:active {
  background-color: darkgreen;
  color: white;
}
.room-options {
  justify-content: center;
  gap: 7rem;
  
}
.room {
  text-align: center;
  color: white;
}
.room img {
  margin-bottom: 3rem;
  border: 2rem solid white;
  border-radius: 1rem;
}

