/* ########## RESETS ########## */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* ########## SHARED STYLES ########## */
p, 
a,
label {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
}
button {
  font-size: 2rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 9999px;
  border: none;
  width: fit-content;
}


.flex-section {
  display: flex;
}
img {
  height: 40rem;
  width: auto;
}



/* ########## HEADINGS ########## */
h1,
h2,
h3{
  line-height: 4.5rem;
  font-family: 'Nerko One', sans-serif;
}
h1 {
  font-size: 5rem;
}


h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}


/* ########## NAV STYLES ########## */
nav {
  background-color: #f55;
  color: white;
  align-items: center;
  padding: 1.2rem 5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-nav-btn {
  width: 3rem;
  height: auto;
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  visibility: hidden;
}

.logo-img {
  font-size: 4rem;
  font-family: 'Nerko One', sans-serif;
}
.list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  right: 3rem;
}
.nav-links {
  gap: 2rem;
}
.nav-bottom-row {
  display: flex;
  margin-left: auto;
}

.nav-links a {
  color: white;
}
.nav-links a:hover {
  color: lightgreen;
}
.nav-links a:active {
  color: white;
}

/* ########## HEADER STYLES ########## */
header {
  display: flex;
  justify-content: center;
  position: relative;
  /* color: white; */
  text-align: center;
  background-image: 
    linear-gradient(#0007, #0007),
    url(../images/winterLodge.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30rem 8rem ;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  width: 50rem;
}
.header-container button {
  background-color: darkblue;
  color: gold;
}
.header-container button:hover {
  background-color: blue;
}
.header-container button:active {
  background-color: darkblue;
}

/* ########## ROOMS AREA AND EVENTS BOX STYLES ########## */
.rooms-area, .event-box {
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;
  padding: 7rem;
  color: darkblue;
}
.rooms-area {
  background-color: white;

}
.rooms-area button {
  background-color: darkgreen;
  color: gold; 
}
.rooms-area button:hover {
  background-color: silver;
  color: red;
}
.rooms-area button:active {
  background-color: darkgreen;
  color: white;
}
.room-options, .event-options {
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
  
}
.room, .event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
  color: darkblue;
}
.room img {
  margin-bottom: 1rem;
  border: 2rem solid darkgreen;
  border-radius: 1rem;
}

.event-box {
  background-color: silver;
}
.event img {
  border: 2rem solid blue;
}
.event-box button {
  background-color: gold;
  color: #5902fa;
}
.event-box button:hover {
  background-color: white;
}
.event-box button:active{
  background-color: gold;
}
/* ########## FOOTER STYLES AREA ########## */
footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 7rem;
  color: gold;
  background-color: blue;
}
footer a {
  color: gold;

}
.footer-logo {
  text-align: center;
  color: gold;
  font-size: 6rem
}
footer ul {
  display: flex;
  justify-content: center;
}
.footer-top-links {
  gap: 7rem;
  display: flex;
  flex-wrap: wrap;
}

footer a:hover {
  text-decoration: underline;
}
footer a:active {
  text-decoration: none;
}
.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  flex-wrap: wrap;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.connect-form, .connect-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  background-color: #760000;
  border-radius: 1rem;
  padding: 4rem;
  width: fit-content;
}
form input[type="email"] {
  border: none;
  font-size: 2rem;
  padding: 1rem;
}
form input[type="email"]:focus {
  outline: 0; 
  border: 0.1rem solid blue;
}
form span:before {
  content: " ";
  /* background-color: #235e6f; */
  color: white;
  border-radius: 9999px 0 0 9999px;
  padding: 1rem;
  font-size: 2rem;
  margin-right: -0.2rem;
}
span:has(input[type="email"]:valid)::before  {
  content: "\2713"; /* checkmark */
  background-color: darkgreen;
  color: gold;
} 
span:has(input[type="email"]:invalid)::before {
  content: "\2718"; /* x mark */
  background-color: gray;
  color: darkred;
}
form input[type="submit"] {
  border-radius: 0 9999px 9999px 0;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  background-color: #1767FF;
  margin-left: -0.2rem;
}

form input[type="submit"]:hover {
  background-color: darkblue;
  color: gold;
}
form input[type="submit"]:active {
  background-color: gold;
  color: black;
}
.connect-social {
  flex-direction: column;
  gap: 2rem;
}
.social-links {
  text-decoration: none;
  gap: 4rem;
}

.social-img {
  border-radius: 50%;
  height: 3.5rem;
  width: auto;
}
.social-img:hover {
  border: 0.5rem solid black;
}
.social-img:active {
  border: none;
}




/* ########## MEDIA QUERIES ########## */
@media (max-width:1435px) {
  .room:nth-of-type(2) {
    order: 3;
  }
}
@media (max-width: 1030px) {
  nav, .connect {
    flex-direction: column;
  }
  .list-container {
    flex-direction: column;
    position: static;
    align-items: center;
  }
  .nav-bottom-row {
    margin: 0;
  }
  .footer-top-links {
    gap: 3rem;
  }

  .connect {
    gap: 5rem;
  }
}
@media (max-width: 700px) {
  img {
    width: auto;
    height: 30rem;
  }
}
@media (max-width: 570px) {

  form span,
  input[type="submit"] {
    width: 100%;
  }

  form input[type="email"],
  form span:before,
  form input[type="submit"]{
    display: block;
    padding: 1rem;
    margin: 0;
  }
  form input[type="email"] {
    border-radius: 0;
  }
  form span:before {
    border-radius: 1rem 1rem 0 0;
    text-align: center;
  }
  form input[type="submit"] {
    border-radius: 0 0 1rem 1rem;
  }
  footer {
    text-align: center;
  }

}


@media (max-width: 500px) { 
  nav, 
  .list-container, 
  .nav-links {
    display: block;
  }
  .navigation {
    display: none;
    position: relative;
  }
  /* work in progress */
  .show-nav {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* height: 100vh;
    width: 100vw; */
    z-index: 20;
  }
  /* ----- */
  .menu-nav-btn {
    visibility: visible;
    z-index: 25;
  }
  .menu-nav-btn:hover {
    border: 0.2rem solid black;
  }
  .menu-nav-btn:active {
    border: none
  }

  .nav-links li {
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #ffffff;
  }
  header {
    padding: 10rem 3rem;
  }
 
  .rooms-area,
  .event-box {
    padding: 3rem 1rem;
  }

 .room,
 .event {
  /* padding: 1rem; */
  width: 100%;
  /* height: auto; */
  flex: none
 }
 
 .room img,
 .event img {
   width: 100%;
   height: auto;
 }
}


@media (max-width: 350px) {
  .room img {
    border: 1rem solid darkgreen;
  }
  .event img {
    border: 1rem solid blue;
  }
  footer {
    padding: 2rem 1;
  }

  .social-links {
    display: flex;
    flex-direction: column;
  }
 
}


